body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  /* font-family: 'Playfair Display', serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title, #navbar{
background-color: #00cba9;
margin: 0;
padding-bottom: 20px;
}

#title {
font-size: 40px;
}

#navbar a{
  padding: 60px;
  font-size: 20px;
  color: black;
  text-decoration: none; 
}

#navbar a:hover {
  color: white;
  transform: scale(1.2);
}

th, td {
  padding: 15px;
  text-align: center;
  border: 2px solid #ddd;
  
}

table {
  padding: 60px;
  margin-top: 70px;
  text-align: center;
  border-collapse: collapse;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);

}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00cba9;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}


 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background-color: #d6e2dd;
  border-radius: 40px;
  padding: 20px;
  border: solid #119682 6px;
  overflow: auto;
}



tr:hover {background-color: #aff0e5;}

.center {
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 20px;
  color: white;
  background-color: #00cba9;
  border-radius: 20px;
  border: solid #0aa58c 3px;
  font-size: 15px;
}

button:hover {
  background-color: #00cba9;
  border-radius: 20px;
  border:solid #ffffff 3px;
  transform: scale(1.2);
}

.delete-button{
  background-color: rgb(226, 22, 22); 
  border: solid #ab0505 3px;
}

.delete-button:hover {
  background-color: rgb(226, 22, 22);
  border-radius: 20px;
  border:solid #ffffff 3px;
  transform: scale(1.2);
}

.close-icon {
  color: black;
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.close-icon:hover {
  box-shadow: 0px 0px 10px 5px #ffffff;
  border: solid #ffffff 1px;
}

form input {
  border: solid #00cba9 3px;
  border-radius: 20px;
  font-size: 16px;
  position: relative;
  justify-content: center;
  text-align: center;
}

.stock-details {
  text-align: left;
  padding-left: 30px;
  /* background-color: white; */
  border-bottom: 1px solid grey;
}

h1{
  font-size: 35px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}